<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="inner">
        <div class="block">
            <table class="table" id='table'>
                <caption>Single Page Application</caption>
                <thead>
                  <tr>
                    <th>Дата</th>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Расстояние</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td></td>
                    <td>Rasti</td>
                    <td>33</td>
                    <td>56</td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>05.11.2021</td>
                    <td>test</td>
                    <td>56</td>
                    <td>89</td>
                  </tr>
                  <tr>
                    <td>10.09.2021</td>
                    <td>JBL</td>
                    <td>89</td>
                    <td>100</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="container">
      <div class="progressiv-container" >
        <div class="progress" id="progress"></div>
        <div class="circles">1</div>
        <div class="circles">2</div>
        <div class="circles">3</div>
        <div class="circles">4</div>
        <div class="circles">5</div>
      </div>
      <button class="btn" id="perv" disabled>Perv</button>
      <button class="btn" id="next" disabled>Next</button>
    </div>
    <script src="/JS/script.js"></script>
</body>
</html>